<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ip="http://www.springframework.org/schema/integration/ip"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
    http://www.springframework.org/schema/integration/ip http://www.springframework.org/schema/integration/ip/spring-integration-ip.xsd">

    <int:publish-subscribe-channel id="publishSubscribeChannel"/>

    <ip:udp-inbound-channel-adapter id="UdpInboundReceiverChannelAdapter"
                                    channel="publishSubscribeChannel"
                                    local-address="${udp.address}"
                                    port="${udp.port}"
                                    multicast="false"
                                    check-length="false"
                                    receive-buffer-size="1024"
                                    pool-size="10"
            />

    <int:service-activator ref="udpEchoServiceActivator"
                           input-channel="publishSubscribeChannel"/>

</beans>
